@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    height: 100vh;
}

.div-user-controls {
    background-color: #3b3b3b;
    padding: 20px;
    height: 100vh;
    flex: 1;
}


.div-for-charts {
    background-color: #2c2c2c;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    flex: 4;
}

h1, h2, h3 {
    color: #ffffff;
    text-align: center;
}

.div-user-controls p {
    color: #bbbbbb;
    margin-bottom: 20px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.div-table{
    width: 90%;
    margin: 0 auto;
}

.div-header-bar{
    border: 1px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #1e1e1e;
}

.station-dropdown .Select-control {
    background-color: #2c2c2c;
    border-color: #555555;
    color: white;
}

.station-dropdown .Select-menu-outer, .station-dropdown .Select-menu {
    background-color: #2c2c2c;
    color: white;
}

.station-dropdown .Select-option.is-focused, .station-dropdown .Select-option.is-selected {
    background-color: #444444;
    color: white;
}

.station-dropdown .Select-placeholder, .station-dropdown .Select-value-label {
    color: white !important;
}

.station-dropdown .Select-clear-zone, .station-dropdown .Select-arrow-zone {
    color: white;
}

.station-dropdown .Select-menu-outer ::-webkit-scrollbar {
    width: 6px;
    background-color: #2c2c2c;
}

.station-dropdown .Select-menu-outer ::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.div-header-bar {
    background-color: #1c1c1c;
    padding: 10px;
}

.div-header-bar a {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.div-header-bar a:hover {
    background-color: #0056b3;
}

.div-header-bar a.active {
    background-color: #6f42c1;
}